

{% extends 'base.html' %}
{% load static %}

{% block title %}Login{% endblock %}


{%block link %}
<link rel="stylesheet" href="{% static 'login.css' %}">
{%endblock%}

{%block content %}

    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>

        <div class="login">
        
            <div class="content">
               
            <form method="post" enctype="multipart/form-data">
                <h2 class="head-login">Login</h2>
                {% csrf_token %}
               
                
                    <div class="inputBx">
                        {{ loginform.email.label_tag }}
                        {{ loginform.email }}
                        {{ loginform.email.errors }}
                    </div>
                    <div class="inputBx">
                        {{ loginform.password.label_tag }}
                        {{ loginform.password }}
                        {{ loginform.password.errors }}
                    </div>
                <button class="button" type="submit">Login</button>
            </form>
            <div class="links">
                <button class="button2"><a href="#">Forget Password</a></button>
                <button class="button2"><a href="{% url 'register_page' %}">Signup</a></button>
                
            </div>
           
            </div>
          
           
        </div>
    </div>

    {%endblock%}