{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'login.css' %}">
</head>
<body>
    <!-- Ring div starts here -->
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>

        <div class="login">
        
            <div class="content">
               
            <!-- Form starts here -->
            <form method="post" enctype="multipart/form-data">
               
                {% csrf_token %}
                <h2 class="head-login">Login</h2>
                
                    <div class="inputBx">
                        {{ userform.email.label_tag }}
                        {{ userform.email }}
                        {{ userform.email.errors }}
                    </div>
                    <div class="inputBx">
                        {{ userform.password.label_tag }}
                        {{ userform.password }}
                        {{ userform.password.errors }}
                    </div>
                <button class="button" type="submit">Login</button>
            </form>
            <div class="links">
                <button class="button2"><a href="#">Forget Password</a></button>
                <button class="button2"><a href="{% url 'register_page' %}">Signup</a></button>
                
            </div>
           
            </div>
            <!-- Form ends here -->
           
        </div>
    </div>
    <!-- Ring div ends here -->
</body>
</html>
