{% extends 'base.html' %}
{% load static %}

{% block title %}Register{% endblock %}



    {%block link %}
    <link rel="stylesheet" href="{% static 'login.css' %}">
    {%endblock%}

    {%block content %}
    <div class="ring">
        <i style="--clr:#00ff0a;"></i>
        <i style="--clr:#ff0057;"></i>
        <i style="--clr:#fffd44;"></i>

        <div class="login">
        
            <div class="content">
               
        <form method="post" enctype="multipart/form-data">
            <h2 class="head-login">Register</h2>
            {% csrf_token %}
            
            {% for field in userform %}      
            <div class="inputBx">       
                    {{ field.label_tag }}
                    {{ field }}
                    {{ field.errors }}
            </div>
            {% endfor %}
               <div class="containerrap">
                <button class="button" type="submit">Submit</button>
        
               </div>
           
        </form>
        <div class="links">
            <button class="button2"><a href="#">Home</a></button>
            
            <Button class="button2"><a href="{%url 'login_page'%}">Login</a></Button>
        </div>
    </div>
    
   
        </div>
    </div>

    {%endblock%}
